$c-bezier: cubic-bezier(.1, .22, .8, 1.13);
$coin-small: 100px;
$coin-medium: 150px;
$coin-large: 200px;

.coin-container {
    border: 2px solid #B4BEC9;
    background-color: transparent;
    border-radius: 50%;
    perspective: 2000px;

    &.coin-size--small {
        width: $coin-small;
        height: $coin-small;
        font-size: 10px;
    }

    &.coin-size--medium {
        width: $coin-medium;
        height: $coin-medium;
        font-size: 14px;
    }

    &.coin-size--large {
        width: $coin-large;
        height: $coin-large;
        font-size: 18px;
    }

    &:focus {
        outline: 0;
    }

    &:hover .coin {
        transform: rotateY(-180deg);
    }
    
    .coin {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: relative;
        transition: all 550ms $c-bezier;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        -moz-backface-visibility: hidden;

        &:focus {
            outline: 0;
        }

        .back-side, .front-side {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
        }
        .back-side {
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            transform: rotateY(180deg);
        }
        
        .front-side {
            z-index: 2;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            .front-img {
                clip-path: circle(50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


